<nb-card size="small">
    <nb-card-body >
        <div align="center">
            <div style="width: 250px; margin-top: 30px; text-align: center">
                <form [formGroup]="authForm" (ngSubmit)="login()">
                    <nb-form-field>
                        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
                        <input type="text" placeholder="CPF" mask="000.000.000-00" formControlName="cpf" nbInput>
                    </nb-form-field>
                    <br>
                    <nb-form-field>
                        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
                        <input type="password" placeholder="Senha" formControlName="password" nbInput>
                    </nb-form-field>

                    <br>
                    <div *ngIf="errorMessage" style="color: red">Usuário ou senha inválidos</div>
                    <br>

                    <button [nbSpinner]="loading" style="width: 155px" nbButton status="primary" type="submit">Entrar</button>
               
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>
