<nb-card size="small">
    <nb-card-body >
        <h1>Home</h1>

        <button nbButton [routerLink]="['/users']">Adicionar Usuários</button>
        <br> <br>
        <button nbButton [routerLink]="['/exams']">Marcar Exame</button>
    </nb-card-body>
</nb-card>



