<ng-template #loading>
  <nb-card nbSpinner="true" nbSpinnerStatus="basic">
    <nb-card-body>
      Obtendo cargos.
    </nb-card-body>
  </nb-card>
</ng-template>

<nb-card-body >
    <h1>Usuários</h1>

    <button nbButton status="primary" (click)="toggleNewUserForm()">Adicionar</button>

    <br><br>

    <nb-card *ngIf="displayNewUser" style="max-width: 1000px" align="center">
        <nb-card-body>
          <mat-grid-list cols="2">
            <mat-grid-tile align="center">
              <form [formGroup]="createUserForm">
                <h5>Informações</h5>
    
                <input placeholder="Nome Completo" formControlName="name" nbInput> <br>
                <input placeholder="E-mail" formControlName="email" nbInput> <br>
                <input placeholder="CPF" formControlName="cpf" mask="000.000.000-00" nbInput>  <br>
    
                <input placeholder="Data de Nascimento" [nbDatepicker]="datepicker" formControlName="bornDate" nbInput> <br>
                <nb-datepicker #datepicker></nb-datepicker>
    
                <input placeholder="Telefone" mask="(00) 00000-0000" formControlName="cellphone" nbInput> <br>
                <input placeholder="Senha" formControlName="password" nbInput> <br>
                <nb-select placeholder="Sexo" selected="M" formControlName="sexo">
                  <nb-option value="M">Masculino</nb-option>
                  <nb-option value="F">Feminino</nb-option>
                </nb-select>
              </form>
            </mat-grid-tile>
            <mat-grid-tile align="center">
              <form [formGroup]="userAddressForm">
                <br><br>
    
                <h5>Endereço</h5>
    
                <input placeholder="CEP" mask="00000-000" formControlName="CEP" (change)="getAddress()" nbInput> <br>
                <input placeholder="Logradouro" formControlName="Street" nbInput> <br>
                <input placeholder="Número" formControlName="Number" nbInput> <br>
                <input placeholder="Complemento" formControlName="Complement" nbInput> <br>
                <input placeholder="Cidade" formControlName="City" nbInput> <br>
                <input placeholder="País" formControlName="Country" value="Brasil" nbInput> <br>
                <input placeholder="UF" formControlName="UF" nbInput> <br>
    
                <br><br>
              </form>
            </mat-grid-tile>
          </mat-grid-list>

          <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

          <div align="right">
            <button [nbSpinner]="smooth" nbButton status="primary" (click)="createAccount()">Adicionar Usuário</button>
          </div>
         
        </nb-card-body>
    </nb-card>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="cpf">
          <mat-header-cell *matHeaderCellDef mat-sort-header> CPF </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cpf}} </mat-cell>
        </ng-container>

                <!-- Weight Column -->
        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cargo </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.role.name}} </mat-cell>
        </ng-container>
            
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</nb-card-body>
